/*
  @function 处理从父类传入的尺寸单位
  @return String
*/
var unitTranslateHandler = function (unit) {
  // px/rpx
  var rpxUnit = getRegExp('r?px$')
  // 百分比
  var percentUnit = getRegExp('%$')
  // 数字，默认rpx
  if (percentUnit.test(unit) || rpxUnit.test(unit)) {
    return unit
  } else if ('number' === typeof unit) {
    return unit + 'px'
  }
}

module.exports = {
  unitTranslateHandler: unitTranslateHandler
}